@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.group{
    text-align: center;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    color: white;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.button{
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}
.home{
    padding-left: 80px;
    padding-top: 40px;
}
.images{
    padding-left: 80px;
    padding-top: 40px;
    background-color: white;

}
.card{
    margin: 60px;
}
.h1{
    padding-left: 80px;
    padding-top: 40px;
    /* padding-bottom: 40px; */
}
.image{
    height: 200px;
    width: 90%;
    margin: 10px;
}
.card-radius{
    border-radius: 10px;
}
.card-images{
    width: 50px;
    height: 40px;
    margin: 10px;
}
.Thankyou-bg{
    background-color: rgb(243, 234, 72);
}
.payment-div{
    margin: 20px;
}
.video-div{
    margin: 20px;
}
.icon-radius{
    border: 5px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: darkkhaki;
    margin: 20px;
}
.logo-bg{
    height: 100px;
    width: 100px;
}
.bg{
    background-color: rgb(19, 19, 54);
    margin: 0;
}
.image-size{
    height: 70px;
    width: 70px;
}
#navItem1{
    color: black;
}
#navItem2 {
    color: black;
}
#navItem3 {
    color: black;
}
#navItem4 {
    color: black;
}